<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <title>D A O U</title>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">DAOU</a>
      </div>
      <div class="header-links">
        <a href="carrito.html">CARRITO</a>
        <a href="signin.html">ENTRAR</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Protuctos</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Aceite de Argán</a>
        </li>

        <li>
          <a href="index.html">Aceite con Plata Artesanal</a>
        </li>

      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/100ml.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Aceite de Argán 100ml</a>
              </div>
              <div class="product-brand">Cristal</div>
              <div class="product-price">€16,99</div>
              <div class="product-rating">4.5 stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/50ml.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Aceite de Argán 50ml</a>
              </div>
              <div class="product-brand">Cristal</div>
              <div class="product-price">€11,99</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/30ml.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Aceite Argán 30ml</a>
              </div>
              <div class="product-brand">Cristal</div>
              <div class="product-price">€7,99</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/Plata60ml.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Aceite de Argán 60ml con Plata artesanal</a>
              </div>
              <div class="product-brand">Plata</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/Plata30ml.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Aceite de Argán 30ml con Plata artesanal</a>
              </div>
              <div class="product-brand">Plata</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/pack3.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Pack de 3</a>
              </div>
              <div class="product-brand">Cristal</div>
              <div class="product-price">€29.99</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>

        </ul>
      </div>

    </main>
    <footer class="footer">
      © DAOU Argán 2020 
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>